.App {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.button-container {
  display: flex;
  gap: 10px;
}

/* Below, classes specific to jaredreisinger/react-crossword. */

.crossword {
  min-width: 300px;
}

.clues {
  display: none;
}